img {
	height:200px;
	width:200px;
}

.imageHolder{
	width:300px;
	margin-right: 5px;
	margin-left: 5px;
	text-align: center;
}

#gif{

	width:65%;
}

#form{
	float:right;
	
}

button {
	margin-right: 5px;

}