h1{
	text-align: center;
}

img {
	height:200px;
	width:200px;
	border:3px solid black;
	border-radius: 5px;
}

.imageHolder{
	width:300px;
	margin-right: 5px;
	margin-left: 5px;
	text-align: center;
}

#gif{

	width:65%;
}

#form{
	float:right;
	
}

.btn {
	margin: 5px;
	margin-bottom: 10px;

}

#add {
	border:3px solid black;
	border-radius: 5px;
}